.chat {
  background-color: var(--grey);
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner {
  display: flex;
  flex-direction: column;
}

.gpt {
  background-color: var(--teal);
  color: var(--grey);
  max-width: 60%;
  margin: 10px;
  padding: 10px;
  align-self: flex-start;
  border-radius: 5px;
}

.user {
  background-color: var(--light-black);
  color: var(--grey);
  max-width: 60%;
  margin: 10px;
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
}

.form {
  width: 100%;
  padding: 0 2%;
  height: 40px;
    display: flex;
    justify-content: space-between;
}

.form input {
  width: 100%;
  margin: 5px
}

.form button {
  width: 3%;
  background-color: var(--teal);
  color: var(--grey);
  border: none;
  border-radius: 5px;
}
